<div class="card" style="width: 400px;color: black;">
    <img src="https://media.tenor.com/v7_fcjUg2qAAAAAd/chicken-gta-v.gif" class="card-img-top" alt="...">
    <div class="card-body">
      <!-- <h5 class="card-title">Your Avatar List is so Empty!</h5> -->
      <p class="card-text">
        -Why did the chicken cross the road?
      </p>
      <p>
        -To find some URLs and fill up its empty list!
      </p>
      <a href="https://giphy.com/" target="_blank" class="btn btn-primary">Follow the chicken</a>
    </div>
  </div>